@import url('https://fonts.googleapis.com/css?family=Tinos:400');

body {
  margin: 0;
}

.header {
  background-color: #ffffff;
  height: 95px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  text-align: center;
  padding-top: 20px;
  font-size: 3rem;
  font-family: 'Tinos', serif;
  width: 33%;
  float: left;
}

.links-l {
  float: left;
  text-align: right;
  width: 33%;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  word-spacing: 30px;
  padding-top: 40px;

}

.links-r {
  float:left;
  width: 33%;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  word-spacing: 30px;
  padding-top: 40px;
}

.header a{
  text-decoration: none;
  color: black;

}

.background {
  height: auto;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}





@media screen and (max-width: 550px) {
  .logo {
    font-size: 1em;
  }

  .links-l {
    font-size: 0.5em;
  }

  .links-r {
    font-size: 0.5em;
  }
}
