@import url('https://fonts.googleapis.com/css?family=Tinos:400');

body {
  margin: 0;
  background-repeat: repeat-y;
}

.header {
  background-color: #ffffff;
  height: 95px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  text-align: center;
  padding-top: 20px;
  font-size: 3rem;
  font-family: 'Tinos', serif;
  width: 33%;
  float: left;
}

.links-l {
  float: left;
  text-align: right;
  width: 33%;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  word-spacing: 30px;
  padding-top: 40px;

}

.links-r {
  float:left;
  width: 33%;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  word-spacing: 30px;
  padding-top: 40px;
}

.header a{
  text-decoration: none;
  color: black;

}

.background {
  height: auto;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.slideshow {
  background-color: #ffffff;
  height: 430px;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 42px;
  padding-top: 30px;
}

.footer {
	background-color: #ffffff;
	width: 90%;
  margin-left: auto;
  margin-right: auto;
	text-align: left;
	font: normal 16px sans-serif;
  height: 95px;
	margin-top: 42px;
}


.copywrite{
  padding-right: 30px;
  padding-top: 28px;
  font-family: sans-serif;
  font-weight: lighter;
  float: right;
}

.footer-icons{
	float: left;
	max-width: 300px;
  padding-left: 30px;
  padding-top: 35px;

}

.footer-icons i{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #e9d4e0;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}


@media screen and (max-width: 550px) {
  .logo {
    font-size: 1.15em;
    padding-top: 34px;
  }

  .links-l {
    font-size: 0.5em;
    word-spacing: 15px;
  }

  .links-r {
    font-size: 0.5em;
    word-spacing: 15px;
  }


	.footer-icons{
    text-align: center;
		float: none;
		padding-left: 55px;
	}

  .copywrite {
    text-align: center;
		float: none;
    padding-left: 35px;
    padding-bottom: 30px;
  }

}
